.footer{
    margin-top: 3rem;
    background-color: rgb(49, 45, 45);
    height: 7vh;

    p{
        color: white;
        font-size: small;
        padding: 1rem 0;
        text-align: center;
        padding: auto 0;
        margin: 0;
    }

}

.social-link {
    color: white;
    padding: 0 .2rem;
    
}                              